/* css/styles.css (Hoặc css/reset.css) */

/* Thiết lập box-sizing để dễ dàng tính toán kích thước */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Xóa margin mặc định của body và đặt một số thuộc tính cơ bản */
body {
    margin: 0;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    /* Tối ưu hiển thị font */
    font-family: 'Inter', sans-serif;
    /* Áp dụng font Inter */
    font-size: 16px;
    /* Thiết lập kích thước font cơ bản */
}

/* Loại bỏ gạch chân của link mặc định */
a {
    text-decoration: none;
    color: inherit;
}

/* Đảm bảo media elements (img, video...) được responsive */
img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

.logo-text {
    font-size: 1.8rem;
    font-weight: 900;
    position: relative;
    display: inline-block;
}

.logo-text::after {
    content: "";
    position: absolute;
    bottom: 15px;
    right: -10px;
    width: 8px;
    height: 8px;
    background-color: #ff0000;
    border-radius: 50%;
    /* Tạo hình tròn */
}

.navbar-nav .nav-link {
    font-size: 1rem;
    font-weight: 600;
    color: #000 !important;
    padding-right: 15px;
    padding-left: 15px;
}

.icon-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 38px;
    height: 38px;
    background-color: #f5f5f5;
    border-radius: 50%;
    font-size: 1.1rem;
    margin-right: 10px;
}

.icon-link:hover {
    background-color: #e0e0e0;
}

footer a {
    color: #555;
    text-decoration: none;
}

footer .border-top {
    padding-top: 35px !important;
    margin-top: 25px !important;
}

footer>.container {
    padding-left: 1.5rem !important;
    padding-right: 1.5rem !important;
}

.footer-links li a {
    color: #555 !important;
    text-decoration: none;
    transition: color 0.2s;
    margin-bottom: 5px;
    display: block;
}

.footer-links li a:hover {
    color: #000 !important;
}

.footer-container {
    background-color: #f8f8f8;
}